.mainNav {
    background-color: red;
    overflow: hidden;
}

.signinDetails {
    width: 100%;
    margin-bottom: 3px px;
    text-align: right;
    height: 16px;
    float: right;
    color: #666;
    padding: 2px 2px 0 0;
    font-size: .85em;
}

.mainNav ul li a span {
    display: block;
    float: left;
    height: 28px;
    padding: 9px 13px 0 8px;
}

